.table-view .column-header {
    -fx-background-color: #dd0000;
    -fx-text-background-color: #fff;
}

.table-row-cell:hover {
    -fx-background-color: #D3D3D3;
    -fx-text-background-color: red;
}